//Google Font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

// Variables to quickly and easily change the accent colour across the site.
$lightestColor: #f4f7f7;
$lightColor :#aacfd0;
$baseColor : #79a8a9;
$darkColor : #1f4e5f;
$fontSize : 5.5vw;

//Include-Media mixin variables
$breakpoints: (very-small: 590px, small: 740px, medium: 992px, large: 1100px);
