// Import Sass Variables in order to use them across the styles.
@import "variables";

// Predefined utilities
@import 'mixins'; 
@import "compass/css3";
@import "compass/utilities";

// Responsive Design Plugin
@import "include-media";

html {
	height: 100%;
}
body {
	background-color: lighten($baseColor,15%);
	height: 100%;
}

label{
	font-weight: 100;
}

a {
	color: $lightestColor;
	text-decoration: none;
	&:hover{
		color: $lightestColor;
		text-decoration: none;
	}
}

h1, h2{
	margin: 0rem;
	padding: 0rem;
	font-family: "Raleway";
}

.title{
	@include box-shadow($darkColor 2px 2px 10px);
	background-color: $darkColor;
	text-align: center;
}

h1{
	font-weight: 800;
	font-size: 7rem;
	color: $lightestColor;
	padding: 1rem;
	padding-bottom: 0rem;
	@include media("<medium"){
		font-size: 5rem;
	}
}

.subtitle{
	color: $lightestColor;
	font-size: 2.3rem;
	padding: 0.6rem;
	margin-top: 1rem;
	font-weight: 100;
	background-color: $baseColor;
}

.back {
	position: absolute; 
	left: 10px;
	@include media("<medium"){
		display: none;
	}
}

.actionButton{
	font-weight: bold;
	font-family: "Raleway";
	@include media("<medium"){
		margin-top: 7.5rem;
		width: 25rem;
	}
}

footer{
	text-align:center;
}

.footer{
	width:100%;
	color: $lightestColor;
	text-align: center;
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0.3rem;
	font-weight: 100;
	background-color: $darkColor;
}