// Import Sass Variables in order to use them across the styles.
@import "variables";

// Responsive Design Plugin
@import "include-media";


.btn-file {
    position: relative;
    overflow: hidden;
    margin: 3rem;
    margin-top: 8rem;
    font-size: 5rem;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit{
    font-size: 5rem;
    width: 30rem;
}

.uploadForm{
    text-align: center;
}